<div data-role="view" data-id="intro" data-title="معرفی سازمان" id="intro" style="font-family:B 'B Nazanin';font-size:15px">
<header data-role="header" data-id="jitterz-default-header">
        <div data-role="navbar">
            <a class="nav-button" data-role="backbutton" data-align="left">بازگشت</a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <div style="margin-left:10px;margin-right:10px">
<p style="font-size:larger;color:#066" >سطح سازمانی</p>

 سطح مدیریتی این حوزه، معاون شهردار تعیین و به عنوان سازمانی در سلسله مراتب تشکیلاتی زیر نظر شهردار فعالیت می نماید.<br\>

<p style="font-size:larger;color:#066" > تشکیلاتی سازمانی</p>

 این سازمان با چهار مدیریت و یک گروه با عناوین زیر در ساختار تشکیلاتی حوزه شهردار فعالیت می نماید:<br>
 <ul style="font-size:smaller">
<li> مدیریت سرمایه گذاری و مشارکتها </li>
<li> مدیریت بازاریابی و بهره برداری</li>
<li> مدیریت اداری و مالی و پشتیبانی</li>
<li> مدیریت زمین و مسکن</li>
<li> گروه برنامه ریزی و نظارت بر امور اقتصادی</li>
</ul>
 

<p style="font-size:larger;color:#066" >شرح وظایف و مأموریت سازمان</p>

 تولید ثروت و کمک به توسعه شهری و تأمین منابع مالی مورد نیاز شهرداری<br>
 گردش سرمایه و ایجاد ارزش افزوده بجای تکیه بر وجوه نقد <br>
بودجه نویسی تعهدی متکی بر سرمایه گذاری مشارکتی، اعتبارات، اوراق مشارکت، اوراق صکوک<br>
 استقرار حسابداری تعهدی با تراز مالی (دارائی- بدهی) به موازات حسابداری نقدی موجود و تراز مالی( درآمد – هزینه)<br>
 کمک به اهداف شهرداری و تحقق تراز اقتصادی طرحهای جامع وتفصیلی و برنامه های عمرانی و توسعه شهری <br>
استفاده از روشهای غیر نقدی و واگذاری ها بصورت فروش و تهاتر (اموال غیر منقول و امتیازات).<br>
 

<p style="font-size:larger;color:#066" >شرح وظایف معاونت اقتصادی </p>

 
<ul style="font-size:smaller">
<li> برنامه ریزی و سازماندهی امور مربوط به جذب سرمایه گذاری و مشارکتهای مردمی برای توسعه و رونق اقتصادی شهر</li>
<li>برنامه ریزی به منظور شناسایی، ایجاد و جذب منابع درآمدی مناسب و پایدار جهت توسعه شـهری</li>
<li> برنامه ریزی به منظور انـتشار اوراق مشارکت، اوراق صکوک، و جذب تسهیلات بانکی و اعتبارات داخـلی و خـارجی </li>
<li>برنامه ریزی به منظور بازاریابی و فروش عواید حاصل از سهم آورده شهرداری در پروژه های مشارکتی و اوراق مشارکت</li>
<li> پیگیری وصول مطالبات ناشی از سرمایه گذاری های انجام شده </li>
<li>تبیین سیاستهای فعالیت های اقتصادی و سرمایه گذاری و مشارکت در سازمان های تابعه شهرداری</li>
<li> انجام مطالعات و پژوهش های اقتصاد شهری و شهرداری </li>
<li>استفاده از توان بخش خصوصی در راستای برنامه های توسعه اقتصادی شهری</li>
<li>بررسی و ایجاد امکان توسعه اقتصادی بخشـهای مختلف شهرداری و ارتقاء سطح تراز اقتصادی شهر</li>
<li> تدوین رویه ها، فرآیند ها، دستورالعمل ها و بخشنامه های مرتبط با انجام فعالیت های اقتصادی شهری</li>
</ul>
</div>
</div>